@use 'node_modules/@sima-land/ui-nucleons/colors';

.sizes-table-wrapper {
  box-shadow: inset 0 -1px 0 colors.$basic-gray12;
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
}

.sizes-table-icon {
  vertical-align: middle;
  fill: currentColor;
  margin-left: 8px;
  padding-bottom: 4px;
}

.sizes-table-link {
  display: inline-block;
  vertical-align: middle;
  height: 24px;
}
