@use 'pkg:@sima-land/ui-nucleons/colors.scss';
@use './variables';

.part {
  background: colors.$basic-gray4;
  border-radius: 4px;
  & + & {
    margin-top: 12px;
  }
}

.banner {
  padding-top: variables.$banner-height;
}

.text {
  height: 48px;
}
