@use 'pkg:@sima-land/ui-nucleons/colors.scss';
@use 'pkg:@sima-land/ui-nucleons/shadows.scss';
@use './_variables';

.root {
  background: #fff;
  border-radius: 8px;
  transition:
    transform 0.2s ease-out,
    box-shadow 0.2s ease-out;
  @include shadows.box-shadow('z3');
  &:hover {
    transform: translateY(-8px);
    @include shadows.box-shadow('z4');
    .image {
      transform: scale(1.05);
    }
  }
}

.link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
}

.banner {
  position: relative;
  width: 100%;
  padding-top: variables.$banner-height;
  background: colors.$basic-gray8;
  border-radius: 8px 8px 0 0;
  overflow: hidden;

  // для исправления бага Safari border-radius
  -webkit-mask-image: -webkit-radial-gradient(#fff, #000);
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-out;
}

.stub {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.banner-content {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: colors.$basic-gray76;
  padding: 8px 16px;
  &.with-timer {
    width: 50%;
    height: 25%;
    padding: 8px 16px 8px 0;
  }
}

.info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px;
  color: colors.$basic-gray87;
}

.header {
  flex-grow: 1;
}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
}

.subtitle {
  font-size: 14px;
  line-height: 20px;
  color: colors.$basic-gray38;
  margin: 4px 0 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.footer {
  display: flex;
  white-space: nowrap;
  margin-top: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.name {
  margin-right: auto;
  padding-right: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
}
