@use 'node_modules/@sima-land/ui-nucleons/colors';
@use 'node_modules/@sima-land/ui-nucleons/breakpoints';

.image-overlay {
  position: relative;
  max-width: 100%;
  margin-bottom: 8px;
  overflow: hidden;

  // формируем соотношение сторон 1 / 1
  &::before {
    content: '';
    display: block;
    padding-top: 100%;
    pointer-events: none;
  }
}

.image-link {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
}

.image {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
  &.adult {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    filter: blur(24px);
    pointer-events: none;
  }
}

.adult-icon {
  position: absolute;
  width: 40%;
  height: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: colors.$basic-gray38;
}

.image-buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  > * {
    pointer-events: all;
  }
}

.image-button {
  display: block;
  border: 0;
  outline: 0;
  background: transparent;
  position: absolute;
  --gutter: 8px;
  right: var(--gutter);
  cursor: pointer;
  &:nth-child(1) {
    top: var(--gutter);
  }
  &:nth-child(2) {
    bottom: var(--gutter);
  }
  &:nth-child(n + 3) {
    display: none;
  }
  &:hover {
    fill: colors.$basic-gray54;
  }
  @include breakpoints.down('ml') {
    --gutter: 4px;
  }
}

.badges {
  margin-bottom: 8px;
}

.prices {
  margin-bottom: 8px;
  display: flex;
  align-items: center;

  font-size: 16px;
  font-weight: 700;
  line-height: 24px;

  // чтобы старая цена скрывалась если не влазит
  &.height-limit {
    height: 24px;
    overflow: hidden;
    flex-wrap: wrap;
  }
}

.price {
  font-size: inherit;
  line-height: inherit;
  margin-right: 8px;
}

.old-price {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.link {
  max-width: 100%;
  font-size: 14px;
  line-height: 20px;
  &.line-clamp {
    overflow: hidden;
    word-break: break-word;
    max-height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.adult-info {
  display: block;
  max-width: 100%;
  font-size: 14px;
  line-height: 20px;
  color: colors.$basic-gray87;
}

.trademark-link {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// футер
.footer {
  margin-top: 16px;
}

.text-button {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  &:hover,
  &:active {
    font-weight: 600;
  }
  @include breakpoints.down('ml') {
    font-size: 14px;
    line-height: 20px;
  }
}

.wait-list-added-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: colors.$basic-gray24;
  @include breakpoints.down('ml') {
    font-size: 14px;
    line-height: 20px;
  }
}

// блок корзины
.control-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  &.loading {
    .control {
      background: colors.$basic-gray4;
      border-radius: 4px;
    }
    .unit-text::before {
      content: '';
      display: block;
      background: colors.$basic-gray4;
      border-radius: 4px;
      width: 48px;
      height: 16px;
    }
  }
}

.control {
  width: 122px;
  height: 40px;
  margin-right: 16px;
}

.unit-text {
  padding-top: 12px; // чтобы при переносе на следующую строку правильно отступил от кнопки
  font-size: 12px;
  line-height: 16px;
  color: colors.$basic-gray38;
}

.bottom-text {
  margin-top: 12px;
  font-size: 12px;
  line-height: 16px;
  color: colors.$basic-gray38;
}
