@use '~@dev-dep/ui-nucleons/colors';

.wrap {
  border: 1px solid colors.$gray12;
  display: inline-flex;
  padding: 8px;
  background: colors.$white;
  border-radius: 4px;
  height: 48px;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  max-width: 100%;
  min-width: 148px;
  font-size: 14px;
  user-select: none;
  &:hover {
    background: colors.$gray4;
  }
}

.name {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  flex-grow: 1;
  text-overflow: ellipsis;
  margin-left: 8px;
  &::first-letter {
    text-transform: uppercase;
  }
}

.adornment {
  width: 32px;
  height: 32px;
}

.arrow {
  width: 16px;
  height: 16px;
  margin-left: 8px;

}

.arrow-icon {
  fill: colors.$gray12;
}

.adornment,
.arrow {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid colors.$gray12;
}
