.wrapper {
  display: block;
  line-height: 1;
  width: 100%;
  &.small:not(.fixed-width):not(:last-child) {
    margin-bottom: 12px;
  }
}

.fixed-width {
  max-width: 200px;
  @media screen and (max-width: 1280px) {
    max-width: 100%;
  }
}

.no-wrap {
  display: inline-block;
  white-space: nowrap;
}

.price {
  margin-right: 3px;
}
