@use 'node_modules/@dev-dep/ui-nucleons/colors';
@import 'node_modules/@dev-dep/ui-nucleons/link/link.module'; // @todo решить: можно ли использовать стили компонентов таким образом

.wrapper {
  align-items: center;
  display: flex;
}

.currency-grapheme {
  font-size: 16px;
  font-weight: 600;
}

.popup {
  margin-top: 14px;
}

.notice-popup {
  width: 360px;
  padding: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  box-sizing: border-box;
}

.popup-body {
  font-size: 16px;
  line-height: 24px;
  p {
    margin: 16px 0 0;
  }
  div {
    font-weight: 500;
    + p {
      margin-top: 8px;
    }
  }
  p + div {
    margin-top: 16px;
  }
  table {
    width: 100%;
    thead {
      color: colors.$gray38;
      font-size: 12px;
      line-height: 16px;
    }
    tr {
      display: block; // для корректного отображения разделителей в safari
      box-shadow: inset 0 -1px 0 colors.$gray12;
    }
    td {
      display: inline-block;
      vertical-align: middle;
      width: 50%;
      padding: 24px 0;
    }
    tbody td:nth-child(2) {
      font-weight: 500;
    }
  }
  p:first-child {
    margin-top: 0;
  }
  a {
    @extend .link;
  }
}

.wholesale-text {
  color: colors.$gray38;
  display: block;
  font-size: 12px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

[role='button'] {
  cursor: pointer;
}

.price-unit {
  .currency-grapheme {
    font-size: 12px;
    font-weight: 400;
  }
}

.wholesale-text-wrapper {
  display: flex;
  max-width: 100%;
  position: relative;
  width: 100%;
}

