@use 'node_modules/@sima-land/ui-nucleons/colors';

.root {
  position: absolute;
  top: -9999px;
  left: -9999px;
  opacity: 1;
  visibility: visible;
  &.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
