@use 'node_modules/@sima-land/ui-nucleons/colors';

$popup-padding: 16px;
$line-gutter: 12px;

.root {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 12px;
  line-height: 16px;
  user-select: none;
  margin-bottom: -$line-gutter;
}

.breadcrumb {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  white-space: nowrap;
  margin-bottom: $line-gutter;
  &:not(:last-child)::after {
    content: '/';
    display: block;
    margin: 0 8px;
  }
}

.breadcrumb-name {
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: 0;
    right: 0;
  }
  &.with-siblings::before {
    right: -2px;
  }
  &:not(.with-siblings)::before {
    right: -8px;
  }
}

.toggle-icon {
  position: relative;
  margin-left: 2px;
  stroke: colors.$basic-gray87;
  display: block;
  cursor: pointer;
  &.close {
    transform: scaleY(-1);
    stroke: colors.$basic-gray38;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: 0;
    right: -8px;
  }
  > svg {
    display: block;
  }
}

.popup {
  min-width: 180px;
  padding: $popup-padding;
  position: absolute;
  top: -$popup-padding;
  left: -$popup-padding;
  z-index: 2;
}

.popup-header {
  display: flex;
}

.siblings {
  margin-top: 16px;
  list-style: none;
  padding: 0;
}

.sibling {
  display: block;
  white-space: normal;
  & + & {
    margin-top: 8px;
  }
  .active {
    color: colors.$basic-gray24;
  }
}

.sibling-placeholder {
  background: colors.$basic-gray4;
  border-radius: 4px;
  height: 12px;
  & + & {
    margin-top: 8px;
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
