@use 'node_modules/@dev-dep/ui-nucleons/colors';

//Ширина контейнеров разделителя крошек
$leftGapWidth: 1em;
$rightGapWidth: 1.5em;

.breadcrumbs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  line-height: 16px;
  list-style: none;
  font-size: 12px;
  user-select: none;
  > li {
    position: relative;
    white-space: nowrap;
    margin-bottom: 8px;
    &:not(:first-child)::before {
      content: '/';
      display: inline-block;
      width: $rightGapWidth;
    }
    &:not(:last-child)::after {
      content: '';
      display: inline-block;
      width: $leftGapWidth;
    }
    &:first-child {
      .popup {
        left: -$leftGapWidth;
      }
    }
    .active {
      color: #3a3a3b;
    }
  }
  .popup {
    white-space: nowrap;
    min-width: 15em;
    padding: 1em;
    position: absolute;
    top: -1em;
    left: $rightGapWidth - 1em;
    z-index: 2;
    .disabled {
      color: #ccc;
    }
    .siblings-list {
      margin-top: 1em;
      margin-bottom: .3em;
      list-style: none;
      padding: 0;
      .sibling-item {
        display: block;
        white-space: normal;
        + .sibling-item {
          margin-top: .5em;
        }
      }
    }
  }
  .toggle-icon {
    vertical-align: middle;
    margin: 0 0 1px 6px;
    cursor: pointer;
    &.close {
      transform: scaleY(-1);
    }
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity .2s ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.link {
  font-size: 12px;
  line-height: 16px;
  color: colors.$gray76;
  text-decoration: none;
  &:hover {
    color: colors.$additional-red;
  }
}
