@use 'node_modules/@sima-land/ui-nucleons/breakpoints';
@use 'node_modules/@sima-land/ui-nucleons/colors';

.root {
  display: block;
  font-size: 14px;
  line-height: 20px;
}

.header {
  display: flex;
  font-size: 14px;
  line-height: 20px;
}

.meta {
  flex-grow: 1;
  display: flex;
  max-width: 100%;
}

.rating {
  font-weight: 600;
  color: colors.$basic-gray38;
}

.author {
  width: 0;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: colors.$basic-gray24;
}

@include breakpoints.down('xs') {
  .header {
    flex-wrap: wrap;
  }
  .meta {
    width: 100%;
  }
  .rating + .author {
    margin-left: 12px;
  }
  .meta + .button {
    width: 100%;
    margin-top: 12px;
  }
}

@include breakpoints.up('xs') {
  .col + .col {
    margin-left: 16px;
  }
  .button:first-child {
    margin-left: auto;
  }
}

.rating {
  height: 20px;
  display: flex;
  align-items: center;
}

.header + .content {
  margin-top: 12px;
}

.skeleton {
  flex-grow: 1;
  height: 16px;
  background: colors.$basic-gray4;
  border-radius: 4px;
  margin: 2px 0;
}

.skeleton-meta {
  width: 216px;
  max-width: 216px;
}

.skeleton + .skeleton {
  margin-top: 4px;
}
