@use 'pkg:@sima-land/ui-nucleons/breakpoints.scss';
@use 'pkg:@sima-land/ui-nucleons/utils.scss';

.inner {
  display: flex;
  overflow-x: scroll;
  @include utils.hidden-scrollbars;
}

.content {
  flex-shrink: 0;
  display: flex;
  > * {
    flex-shrink: 0;
  }
  > *:not(:last-child) {
    margin-right: 8px;
  }
}

.gutter {
  flex-shrink: 0;
  display: none;
  &:first-child {
    margin: 0;
  }
  @include breakpoints.down('mm') {
    display: block;
    width: 16px;
    height: 16px;
  }
}
