@use 'node_modules/@sima-land/ui-nucleons/breakpoints';
@use 'node_modules/@sima-land/ui-nucleons/colors';
@use 'node_modules/@sima-land/ui-nucleons/utils';

.thumbnail {
  --thumbnail-color: #{colors.$basic-gray12};
  --thumbnail-border-size: 1px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 4px;
  border: 0;
  padding: 0;
  color: var(--thumbnail-color);
  outline: 0;
  &.size-s {
    width: 48px;
    height: 48px;
  }
  &.size-l {
    width: 80px;
    height: 80px;
  }
  &.iconic {
    --thumbnail-border-size: 2px;
  }
  &.checked {
    --thumbnail-color: #{colors.$basic-blue};
    --thumbnail-border-size: 2px;
  }
  &:not(.checked):not(.loading):hover {
    cursor: pointer;
    --thumbnail-color: #{colors.$basic-gray38};
  }
  &.loading {
    background: colors.$basic-gray4;
    --thumbnail-color: #{colors.$basic-gray4};
    --thumbnail-border-size: 0;
  }
  .play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
    pointer-events: none;
    &::after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 0 4px 7px;
      border-color: transparent transparent transparent #fff;
      transform: translateX(1px);
    }
  }
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    overflow: hidden;
    > img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    box-shadow: inset 0 0 0 var(--thumbnail-border-size) var(--thumbnail-color);
  }
}

.list-desktop {
  display: flex;
  height: 0;
  flex-grow: 1;
  flex-direction: column;
  overflow-y: auto;
  @include utils.semi-stylized-scrollbars;
  > * {
    flex-shrink: 0;
  }
  > *:not(:last-child) {
    margin-bottom: 8px;
  }
}
