@use 'pkg:@sima-land/ui-nucleons/utils';

.list-desktop {
  display: flex;
  height: 0;
  flex-grow: 1;
  flex-direction: column;
  overflow-y: auto;
  @include utils.semi-stylized-scrollbars;
  > * {
    flex-shrink: 0;
  }
  > *:not(:last-child) {
    margin-bottom: 8px;
  }
}
