@use 'node_modules/@dev-dep/ui-nucleons/colors';

.control {
  flex-shrink: 0;
  width: 122px;
}

.button-spinner {
  fill: none;
  animation: rotation 3s linear infinite;
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}
