@use 'node_modules/@sima-land/ui-nucleons/colors';

.input {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 16px 0 12px;
  border-radius: 8px;
  background-color: colors.$gray4;
}

.icon {
  display: block;
  flex-shrink: 0;
  fill: colors.$gray38;
}

.text {
  display: block;
  margin-left: 12px;
  font-size: 16px;
  line-height: 24px;
  color: colors.$gray38;
}
