@use 'node_modules/@sima-land/ui-nucleons/colors';
@use '../modifiers';

.root {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: -#{modifiers.$gutter};
  font-size: 0;
  overflow: hidden;
  &:not(.opened) {
    max-height: modifiers.$groupMaxHeight;
  }
}

.item {
  height: modifiers.$minSize;
  margin: modifiers.$gutter;
  max-width: 100%;
  &.hidden {
    display: none;
  }
  &.invisible {
    opacity: 0;
    cursor: default;
    pointer-events: none;
  }
}

.opener {
  color: colors.$basic-blue;
}
