@use 'pkg:@sima-land/ui-nucleons/colors.scss';
@use 'pkg:@sima-land/ui-nucleons/utils';

.layout {
  display: flex;
  &.flow-vertical {
    flex-direction: column;
    justify-content: center;
    .slot-buttons {
      display: flex;
      justify-content: center;
    }
    .slot-form {
      margin-top: 24px;
    }
  }
  &.flow-horizontal {
    flex-direction: row;
    justify-content: space-between;
    .slot-form {
      margin-left: 40px;
    }
  }
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  .label + .input {
    margin-left: 8px;
  }
}

.label {
  white-space: nowrap;
  font-size: 16px;
  line-height: 24px;
  color: colors.$basic-gray38;
}

.input {
  width: 100px;
}

.input .submit {
  margin: -4px -8px;
}

.submit {
  @include utils.reset-button;
}

.submit {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: colors.$basic-gray87;
  color: #fff;
  border-radius: 4px;
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    background: colors.$basic-gray8;
    color: colors.$basic-gray24;
  }
  &:focus-visible {
    @include utils.focus-visible-style;
  }
}
