@import 'node_modules/@dev-dep/ui-nucleons/link/link';
@import 'node_modules/@dev-dep/ui-nucleons/variables';

.wrapper {
  display: inline;
}

.currency-grapheme {
  font-size: 12px;
  font-weight: 600;
}

.popup {
  margin-top: 14px;
}

.notice-popup {
  width: 360px;
  padding: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  box-sizing: border-box;
}

.popup-body {
  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
  a {
    @extend .link;
  }
}

.wholesale-text {
  padding-right: 24px;
}

.wholesale-word {
  padding-right: 2px;
  &:last-child {
    padding-right: 20px;
  }
}

.icon-wrapper {
  position: relative;
  display: inline-block;
  line-height: 0;
  margin-left: -16px;
  padding-bottom: 1px;
}

.icon {
  color: $gray24;
  cursor: pointer;
  position: relative;
}

