@import "node_modules/@dev-dep/ui-nucleons/colors";

.wrapper {
  display: flex;
  align-items: center;
  margin-top: 16px;
  &.with-find-button {
    margin-top: 4px;
  }
}

.search-cancel {
  margin-left: 16px;
}

.input-wrapper {
  display: inline-flex;
  position: relative;
  height: 48px;
  width: 100%;
  background-color: $gray4;
  border-radius: 8px;
  padding: 0 12px;
  &.smaller {
    height: 40px;
  }

}

.with-adornment {
  display: flex;
  align-items: center;
  justify-content: center;
  &.start {
    margin-right: 12px;
  }
  &.end {
    margin-left: 12px;
  }
}

input:not([type]).search-field,
.search-field {
  background-color: $gray4;
  padding: 16px 0;
  margin: 0;
  flex-grow: 1;
  border: 0;
  outline: 0;
  line-height: 24px;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  min-width: 0;
  color: $black;
  &::-ms-clear {
    display: none;
  }
}

.button {
  padding: 0 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $brand-blue;
  cursor: pointer;
}
