@import 'node_modules/@dev-dep/ui-nucleons/colors';

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  margin-top: 16px;
  line-height: 24px;
  text-align: center;
}

.track-number {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    color: $gray54;
    .icon {
      fill: $gray54;
    }
  }
  .icon {
    fill: $gray87;
    margin-left: 8px;
    width: 16px;
    height: 16px;
  }
}
