@use 'node_modules/@dev-dep/ui-nucleons/colors';

.button {
  overflow: visible;
  stroke-width: 1;
  stroke: #f5f5f5;
  fill: colors.$gray87;
  &:hover {
    fill: colors.$gray54;
  }
  &.checked {
    fill: colors.$additional-red;
  }
  &.disabled {
    cursor: auto;
  }
}
