@import "~@dev-dep/ui-nucleons/variables";
@import "~@dev-dep/ui-nucleons/colors";

.wish-button {
  color: $red;
  user-select: none;
  &:not(.is-wished) {
    color: $gray87;
  }
  position: absolute;
  cursor: pointer;
  z-index: 2;
  top: 10px;
  &.left {
    left: 10px;
  }
  &.right {
    right: 10px;
  }
  .stroke {
    overflow: visible;
    stroke-width: 1;
    stroke: #f5f5f5;
  }
  &.blocked {
    cursor: auto;
  }
  &:hover,
  &.active {
    color: $red;
  }
}
