@use 'pkg:@sima-land/ui-nucleons/breakpoints';

@mixin dot-size-default {
  --dot-size: 32px;
  --dot-size-core: 12px;
  @include breakpoints.down('xs') {
    --dot-size: 40px;
    --dot-size-core: 16px;
  }
}
