@use 'node_modules/@sima-land/ui-nucleons/breakpoints';
@import 'node_modules/@sima-land/ui-nucleons/colors';

.container {
  --gutter: 24px;
  padding: 16px 0;
  margin: 0 auto;
  max-width: calc((var(--gutter) * 5) + ((var(--layoutWidth) - (var(--gutter) * 7)) * 6 / 8));

  @include breakpoints.down('mm') {
    --gutter: 16px;
  }

  @include breakpoints.down('ms') {
    max-width: none;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  margin: 0;
  border: 0;
  outline: 0;
  font: inherit;
  background-color: transparent;
  &:active {
    background-color: $gray4;
  }
}
