@use 'node_modules/@sima-land/ui-nucleons/breakpoints';
@use 'node_modules/@sima-land/ui-nucleons/colors';

.container {
  --gutter: 24px;
  margin: 0 auto;
  max-width: calc((var(--gutter) * 5) + ((var(--layoutWidth) - (var(--gutter) * 7)) * 6 / 8));

  @include breakpoints.down('mm') {
    --gutter: 16px;
  }

  @include breakpoints.down('ms') {
    max-width: none;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 24px;
  height: 48px;
  margin: 0;
  border: 0;
  outline: 0;
  font: inherit;
  background-color: transparent;
  text-align: left;
  &:active {
    background-color: colors.$gray4;
  }
  &:disabled {
    color: colors.$gray24;
    .icon {
      fill: colors.$gray24;
    }
  }
}

.size-s {
  height: 40px;
}

.size-m {
  height: 48px;
}

.size-l {
  height: 56px;
}

.size-xl {
  height: 72px;
}

.icon {
  display: block;
  margin-left: 8px;
  fill: colors.$gray87;
}
