// внешний отступ вокруг каждого элемента группы
$gutter: 4px;

// размер квадратного модификатора
$minSize: 48px;

// максимальная высота блока с ограничением в 2 строки
$groupMaxHeight: ($minSize * 2) + ($gutter * 4);
