@use '../../../../node_modules/@dev-dep/ui-nucleons/colors';

.text {
  font-size: 12px;
  line-height: 16px;
}

.value {
  font-weight: 700;
  margin-left: 4px;
  color: colors.$additional-amber;
}

.count {
  margin-left: 8px;
  color: colors.$gray38;
}
