@use 'node_modules/@sima-land/ui-nucleons/colors';

.root {
  display: inline-block;
  text-decoration: none;
  position: relative;
  color: var(--modifier-text-color);
  border-radius: 4px;
  min-width: var(--modifier-size);
  min-height: var(--modifier-size);
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  --modifier-text-color: #{colors.$basic-gray87};
  --modifier-border-width: 1px;
  --modifier-border-color: #{colors.$basic-gray12};
  --modifier-corner-bg: #{colors.$basic-gray12};
  --modifier-corner-color: #{colors.$basic-gray87};
  &.active {
    --modifier-border-color: #{colors.$basic-blue};
    --modifier-corner-color: #fff;
    --modifier-corner-bg: #{colors.$basic-blue};
  }
  &:hover:not(.disabled) {
    cursor: pointer;
  }
  &:hover:not(.disabled):not(.active) {
    --modifier-border-width: 2px;
  }
  &.disabled {
    --modifier-media-opacity: 0.24;
    --modifier-overlay-color: rgba(0, 0, 0, 0.04);
    --modifier-border-width: 0;
    --modifier-text-color: #{colors.$basic-gray38};
    --modifier-corner-bg: transparent;
    --modifier-corner-color: #{colors.$basic-gray38};
  }
  &::after {
    content: '';
    display: block;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    box-shadow: inset 0 0 0 var(--modifier-border-width) var(--modifier-border-color);
    background: var(--modifier-overlay-color);
  }
  &.more {
    width: var(--modifier-size);
    --modifier-text-color: #{colors.$basic-blue};
    &.size-s {
      --modifier-padding: 10px 0;
    }
    &.size-m {
      --modifier-padding: 14px 0;
    }
  }
}

.size-s {
  --modifier-size: 40px;
  --modifier-padding: 10px;
}

.size-m {
  --modifier-size: 48px;
  --modifier-padding: 14px 15px;
}

.diagonal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: inherit;
}

.color,
.image {
  border-radius: inherit;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: var(--modifier-media-opacity);
}

.image {
  background-position: center;
  background-size: cover;
}

.text {
  padding: var(--modifier-padding);
  display: block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  // ВАЖНО: чтобы диагональная черта была под текстом
  position: relative;
  z-index: 1;
}

.counter {
  white-space: nowrap;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  height: 14px;
  overflow: hidden;
  padding: 0 4px;
  background: colors.$additional-teal;
  color: #fff;
  position: absolute;
  right: -2px;
  top: -2px;
  border-radius: 32px;
  z-index: 1;
}

.corner {
  font-weight: 600;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 24px;
  height: 24px;
  border-bottom-right-radius: inherit;
  font-size: 12px;
  line-height: 14px;
  padding-right: 2px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: var(--modifier-corner-color);
  background: linear-gradient(
    to bottom right,
    transparent 0%,
    transparent 50%,
    var(--modifier-corner-bg) 50%,
    var(--modifier-corner-bg) 100%
  );
}
