@use 'pkg:@sima-land/ui-nucleons/colors.scss';

.root {
  display: inline-block;
  text-decoration: none;
  position: relative;
  color: var(--modifier-text-color);
  border-radius: 4px;
  min-width: var(--modifier-size);
  min-height: var(--modifier-size);
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  --modifier-text-color: #{colors.$basic-gray87};
  --modifier-border-width: 1px;
  --modifier-border-color: #{colors.$basic-gray12};
  --modifier-corner-bg: #{colors.$basic-gray12};
  --modifier-corner-color: #{colors.$basic-gray87};
  --content-offset: 3px;
  &.active {
    --modifier-border-color: #{colors.$basic-blue};
    --modifier-corner-color: #fff;
    --modifier-corner-bg: #{colors.$basic-blue};
  }
  &:hover:not(.disabled) {
    cursor: pointer;
  }
  &:hover:not(.disabled):not(.active):not(.non-existent) {
    --modifier-border-width: 1px;
    --modifier-border-color: #{colors.$basic-gray24};
    --modifier-corner-bg: #{colors.$basic-gray24};
  }
  &.disabled {
    --modifier-media-opacity: 0.24;
    --modifier-overlay-color: rgba(0, 0, 0, 0.04);
    --modifier-border-width: 1px;
    --modifier-text-color: #{colors.$basic-gray38};
    --modifier-corner-bg: transparent;
    --modifier-corner-color: #{colors.$basic-gray38};
    .text {
      background-color: colors.$basic-gray8;
    }
  }
  &.non-existent {
    --border-image-source: url(./default-border.svg);
    --border-image-slice: 6;
    --border-image-width: 6;
    &:hover {
      // ВАЖНО! Невидимость, чтобы не мелькала сплошлая граница во время загрузки изображения.
      --modifier-border-color: rgba(255, 255, 255, 0);
      --border-image-source: url(./hover-border.svg);
    }
    &::before {
      border-image-source: var(--border-image-source);
      border-image-slice: var(--border-image-slice);
      border-image-repeat: round;
      border-image-width: var(--border-image-width);
    }
  }
  &::before {
    content: '';
    display: block;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - var(--modifier-border-width) * 2);
    height: calc(100% - var(--modifier-border-width) * 2);
    border-radius: inherit;
    border: var(--modifier-border-width) solid var(--modifier-border-color);
  }
  &.more {
    width: var(--modifier-size);
    --modifier-text-color: #{colors.$basic-blue};
    &.size-s {
      --modifier-padding: 10px 0;
    }
    &.size-m {
      --modifier-padding: 14px 0;
    }
  }
}

.size-xs {
  --modifier-size: 32px;
  --modifier-padding: 6px 8px;
  --corner-size: 16px;
  --corner-font-size: 8px;
  --corner-line-height: 10px;
}

.size-s {
  --modifier-size: 40px;
  --modifier-padding: 10px;
  --corner-size: 20px;
  --corner-font-size: 11px;
  --corner-line-height: 13px;
}

.size-m {
  --modifier-size: 48px;
  --modifier-padding: 14px 16px;
  --corner-size: 24px;
  --corner-font-size: 12px;
  --corner-line-height: 14px;
}

.diagonal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: inherit;
}

.color,
.image-wrapper {
  border-radius: inherit;
  display: block;
  position: absolute;
  top: var(--content-offset);
  left: var(--content-offset);
  width: calc(100% - var(--content-offset) * 2);
  height: calc(100% - var(--content-offset) * 2);
}

.image {
  border-radius: inherit;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  opacity: var(--modifier-media-opacity);
}

.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  &.fail {
    --modifier-media-opacity: 0;
    background-color: colors.$basic-gray4;
  }
  > svg {
    width: calc(50%);
    height: calc(50%);
    fill: colors.$basic-gray24;
  }
}

.color {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  border-radius: inherit;
  padding: var(--modifier-padding);
  display: block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  // ВАЖНО: чтобы диагональная черта была под текстом
  position: relative;
  z-index: 1;
}

.counter {
  white-space: nowrap;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  height: 14px;
  overflow: hidden;
  padding: 0 4px;
  background: colors.$additional-teal;
  color: #fff;
  position: absolute;
  right: -2px;
  top: -2px;
  border-radius: 32px;
  z-index: 1;
}

.corner {
  font-weight: 600;
  position: absolute;
  bottom: 0;
  right: 0;
  width: var(--corner-size);
  height: var(--corner-size);
  border-bottom-right-radius: inherit;
  font-size: var(--corner-font-size);
  line-height: var(--corner-line-height);
  padding-right: 2px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: var(--modifier-corner-color);
  background: linear-gradient(
    to bottom right,
    transparent 0%,
    transparent 50%,
    var(--modifier-corner-bg) 50%,
    var(--modifier-corner-bg) 100%
  );
}
