@use 'node_modules/@sima-land/ui-nucleons/colors';

.root {
  height: calc(100vh - var(--header-height) - 40px);
  position: relative;
}

.thumbnails {
  height: var(--area-height);
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  width: 104px;
  .thumbnail + .thumbnail {
    margin-top: 8px;
  }
}

.area {
  height: 100%;
  margin: 0 auto;
  width: calc(100% - (2 * (120px + 56px + 24px)));
  .inner {
    height: 100%;
    margin: 0 auto;
  }
  .square {
    position: relative;
    &::after {
      content: '';
      display: block;
      padding-top: 100%;
      width: 100%;
    }
    .button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      &.left {
        right: calc(100% + 24px);
      }
      &.right {
        left: calc(100% + 24px);
      }
    }
  }
}

.media {
  height: 100%;
  position: absolute;
  width: 100%;
  .media-image-wrap,
  video {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  video {
    background: #000;
  }
  .media-image-wrap img {
    display: block;
    height: 100%;
    object-fit: contain;
    width: 100%;
  }
}

.footer {
  margin-top: 40px;
}
