@use 'node_modules/@sima-land/ui-nucleons/colors';
@use 'node_modules/@sima-land/ui-nucleons/utils';

.root {
  --header-height: 80px;
  position: relative;
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
}

.main {
  position: relative;
  width: 100%;
  height: var(--area-height);
}

.thumbnails {
  @include utils.semi-stylized-scrollbars;
  width: 104px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  .thumbnail + .thumbnail {
    margin-top: 8px;
  }
}

.square {
  width: var(--square-size);
  height: var(--square-size);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  &::after {
    content: '';
    display: block;
    padding-top: 100%;
    width: 100%;
  }
  .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &.left {
      right: calc(100% + 24px);
    }
    &.right {
      left: calc(100% + 24px);
    }
  }
}

.media {
  height: 100%;
  position: absolute;
  width: 100%;
  .media-image-wrap,
  video {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  video {
    background: #000;
  }
  .media-image-wrap img {
    display: block;
    height: 100%;
    object-fit: contain;
    width: 100%;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: auto;
}
