.root {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .04);

    // чтобы можно было сохранять фото с помощью контекстного меню
    pointer-events: none;
  }
}
