.list {
  border: 1px solid #00599d;
  width: 320px;
  background: #fff;
  + .list {
    margin-top: 20px;
  }
}

.title {
  font-size: 20px;
  line-height: 44px;
  text-align: center;
  border-bottom: 1px solid #00599d;
}

.scrollable {
  max-height: 300px;
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0;
  }
}
