@use 'pkg:@sima-land/ui-nucleons/colors.scss';
@use 'pkg:@sima-land/ui-nucleons/breakpoints';

.root {
  width: 24px;
  height: 24px;
  display: block;
  border: 0;
  outline: 0;
  background: transparent;
  position: absolute;
  &:hover {
    cursor: pointer;
    fill: colors.$basic-gray54;
  }
}

.left-top {
  position: absolute;
  left: 8px;
  top: 8px;
}

.left-bottom {
  position: absolute;
  left: 8px;
  bottom: 8px;
}

.right-top {
  position: absolute;
  right: 8px;
  top: 8px;
}

.right-bottom {
  position: absolute;
  right: 8px;
  bottom: 8px;
}
