@use 'node_modules/@sima-land/ui-nucleons/colors';

.link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider {
  --hover-slider-width: 100%;
  --hover-slider-height: 100%;
  --product-image-width: 100%;
  --product-image-height: 100%;
}

.image {
  --product-image-width: 100%;
  --product-image-height: 100%;
}
