@use 'pkg:@sima-land/ui-nucleons/colors.scss';
@use 'pkg:@sima-land/ui-nucleons/breakpoints.scss';

.root {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: colors.$basic-gray24;
}
