.wrap {
  display: flex;
  flex-wrap: wrap;
  line-height: 1;
  margin-bottom: -7px;
  position: relative;
  z-index: 2;
}

.item {
  margin-bottom: 4px;
  &:not(:last-child) {
    margin-right: 4px;
  }
}

