@use 'pkg:@sima-land/ui-nucleons/utils.scss';

$badge-size: 20px;
$icon-size: 16px;

.root {
  @include utils.reset-button;
}

.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: $badge-size;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  max-width: 100%;
  min-width: $badge-size;
  text-decoration: none;
}

.padding-x-default {
  padding-left: 6px;
  padding-right: 6px;
  &.coloring-outline {
    // ВАЖНО: учитываем border
    padding-left: 5px;
    padding-right: 5px;
  }
}

.padding-x-pill {
  padding-left: 8px;
  padding-right: 8px;
  &.coloring-outline {
    // ВАЖНО: учитываем border
    padding-left: 7px;
    padding-right: 7px;
  }
}

.shape-round {
  border-radius: 4px;
}

.shape-pill {
  border-radius: 99999px;
}

.with-hover-effect:hover {
  position: relative;
  cursor: pointer;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    opacity: 0.16;
  }
}

.coloring-outline {
  color: var(--badge-color, #aaa);

  // ВАЖНО: используем border т.к. на Safari box-shadow пропадает при уменьшении масштаба
  border: 1px solid var(--badge-border-color, var(--badge-color, #aaa));
}

.coloring-fill {
  background: var(--badge-color, #aaa);
  color: var(--badge-text-color, #fff);
}

.icon-only {
  width: $badge-size;
}

// содержимое
.content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon {
  display: block;
  width: $icon-size;
  height: $icon-size;
  line-height: $icon-size;
}

.icon + .content,
.content + .icon {
  margin-left: 4px;
}
