$badge-size: 20px;
$icon-size: 14px;

.root {
  --badge-color: #aaa;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: $badge-size;
  color: var(--badge-color);

  // используем border т.к. на Safari box-shadow пропадает при уменьшении масштаба
  border: 1px solid var(--badge-color);
  padding: 0 5px; // учитываем border
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  max-width: 100%;
  min-width: $badge-size;
  text-decoration: none;
  &.interactive:hover {
    cursor: pointer;
    opacity: 0.72;
  }
  &.icon-only {
    width: $badge-size;
    padding: 0;
  }
  .content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .icon {
    display: inline-block;
    width: $icon-size;
    height: $icon-size;
    line-height: $icon-size;
  }
}
