@import 'node_modules/@dev-dep/ui-nucleons/variables';

.wrapper {
  display: inline-block;
  padding-left: 10px;
  padding-right: 3px;
}

.trigger .icon {
  pointer-events: none;
  display: inline-block;
  margin-left: -16px;
  vertical-align: -2px;
}

.title {
  display: inline;
  margin-right: 4px;
  padding-right: 14px;
}

.trigger {
  cursor: pointer;
  margin-left: -10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
}

.popup {
  width: 330px;
  position: absolute;
}

.list {
  margin: 0;
  padding: 16px 20px 16px 24px;
  font-size: 16px;
  list-style: none;
}

.list-item {
  cursor: pointer;
  line-height: 1.5;
  padding: 7px 0;
  &:hover {
    color: $red;
  }
}
