@use 'sass:math';
@use 'node_modules/@sima-land/ui-nucleons/breakpoints';

.root {
  position: relative;
  flex-shrink: 0;
  width: 160px;
  @include breakpoints.up('mm') {
    width: 196px;
  }
  &:not(:last-child) {
    margin-right: 16px;
  }
}

.favorite-button {
  position: absolute;
  top: 4px;
  right: 4px;
}

.footer {
  margin-top: 12px;
}
