@use 'node_modules/@dev-dep/ui-nucleons/colors';
@use 'node_modules/@dev-dep/ui-nucleons/breakpoints';

$breakpoints: 'xs', 's', 'm', 'l', 'xl';

@mixin sizes ($key) {
  @for $i from 2 through 4 {
    .size-#{$key}-#{$i} {
      width: calc((100% - (((12 / #{$i}) - 1) * 32px)) * (#{$i} / 12));
    }
  }
}

@each $key in $breakpoints {
  @include breakpoints.up($key) {
    @include sizes($key);
  }
  @if $key == 'xs' {
    @include breakpoints.down($key) {
      @include sizes($key);
    }
  }
}

.root {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  & + & {
    margin-left: 32px;
  }
  &:hover {
    .quick-view-button {
      opacity: 1;
    }
  }
}

.quick-view-button {
  opacity: 0;
  top: 8px;
  right: 8px;
  z-index: 3;
  color: colors.$gray87;
  user-select: none;
  position: absolute;
  cursor: pointer;
  .svg {
    display: block;
    stroke-width: 1;
    stroke: colors.$gray4;
  }
}

.image-wrapper {
  position: relative;
  margin-bottom: 16px;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .04);
  }
}

.image {
  width: 100%;
  display: block;
}

.prices-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  height: 24px;
}

.price {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.old-price {
  font-size: 12px;
  line-height: 16px;
  margin-left: 8px;
  font-weight: 400;
}

.link {
  overflow: hidden;
  word-break: break-word;
  max-height: 41px;
  max-width: 100%;
  font-size: 14px;
  line-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
