.row + .row {
  margin-top: 8px;
}

.image-row {
  position: relative;
  display: block;
  width: 100%;
  .image {
    width: 100%;
  }
  .quick-view-btn {
    position: absolute;
    right: 8px;
    top: 8px;
  }
}

.badges-row {
  display: flex;
  flex-wrap: wrap;
  max-height: 56px;
  overflow: hidden;
  margin-bottom: -8px;
  .badge {
    margin: 0 4px 8px 0;
  }
}

.prices-row {
  display: flex;
  align-items: center;
  height: 24px;
  .price {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }
  .old-price {
    font-size: 12px;
    line-height: 16px;
    margin-left: 8px;
    font-weight: 400;
  }
}

.link {
  overflow: hidden;
  word-break: break-word;
  max-width: 100%;
  font-size: 14px;
  line-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
