@use 'node_modules/@dev-dep/ui-nucleons/colors';

.root {
  padding: 16px 16px 24px;
  background: #fff;
}

.control-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}

.unit-text {
  padding-top: 12px; // чтобы при переносе на следующую строку правильно отступил от кнопки
  font-size: 12px;
  line-height: 16px;
  color: colors.$gray38;
}

.bottom-text {
  margin-top: 12px;
  font-size: 12px;
  line-height: 16px;
  color: colors.$gray38;
}
