@use 'node_modules/@sima-land/ui-nucleons/breakpoints';
@use 'node_modules/@sima-land/ui-nucleons/colors';

$breakpoints: 'xs', 's', 'm', 'l', 'xl';
$gutter: 32px;

@mixin sizes ($key) {
  // в соответствии с гайдами ширина может быть 2/3/4
  @for $i from 2 through 4 {
    .size-#{$key}-#{$i} {
      width: calc((100% - (((12 / #{$i}) - 1) * #{$gutter})) * (#{$i} / 12));
    }
  }
}

.root {
  position: relative;
  width: 100%;
}

.title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 32px;
}

.item {
  flex-shrink: 0;
  &:not(:last-child) {
    margin-right: $gutter;
  }
}

@each $key in $breakpoints {
  @include breakpoints.up($key) {
    @include sizes($key);
  }
  @if $key == 'xs' {
    @include breakpoints.down($key) {
      @include sizes($key);
    }
  }
}
