@use 'node_modules/@sima-land/ui-nucleons/colors';

.root {
  display: block;
  overflow: visible;
  stroke-width: 1;
  stroke: colors.$basic-gray4;
  fill: colors.$basic-gray87;
  &:hover {
    fill: colors.$basic-gray54;
  }
}
