@use '~@dev-dep/ui-nucleons/colors';

.button {
  opacity: 0;
  color: colors.$gray87;
  .stroke {
    overflow: visible;
    stroke-width: 1;
    stroke: colors.$gray4;
  }
  &:hover {
    color: colors.$additional-red;
  }
}
