@use 'node_modules/@dev-dep/ui-nucleons/colors';

.root {
  display: block;
  overflow: visible;
  stroke-width: 1;
  stroke: colors.$gray4;
  fill: colors.$gray87;
  &:hover {
    fill: colors.$gray54;
  }
}
