@import "node_modules/@dev-dep/ui-nucleons/variables";
@import "node_modules/@dev-dep/ui-nucleons/colors";

.button {
  opacity: 0;
  color: $gray87;
  .stroke {
    overflow: visible;
    stroke-width: 1;
    stroke: #f5f5f5;
  }
  &:hover {
    color: $red;
  }
}
