@import "~@dev-dep/ui-nucleons/variables";
@import "~@dev-dep/ui-nucleons/colors";

/* Цвета шильдиков по умолчанию */
$flagDefaultColor: $white;
$flagDefaultBackground: $black;
$flagDefaultFill: $black;
$flagDefaultTimeColor: #99a5b4;
