@import '../variables';

.base {
  position: absolute;
  border-width: 10px;
  border-style: solid;
  z-index: 2;
}

.top {
  border-top: 0;
  top: -10px;
}

.bottom {
  border-bottom: 0;
  bottom: -10px;
}

.white {
  border-color: $white;
  border-right-color: transparent;
  border-left-color: transparent;
}

.blue {
  border-color: $blue;
  border-right-color: transparent;
  border-left-color: transparent;
}

.dark-blue {
  border-color: $darkBlue;
  border-right-color: transparent;
  border-left-color: transparent;
}

.deep-blue {
  border-color: $deepBlue;
  border-right-color: transparent;
  border-left-color: transparent;
}

.shadow::before {
  position: absolute;
  left: -7px;
  width: 15px;
  height: 15px;
  content: '';
  transform: rotate(225deg);
}

.shadow-top::before {
  top: 4px;
  box-shadow: 2px 2px 2px $veryLightShadow;
}

.shadow-bottom::before {
  bottom: 4px;
  box-shadow: -2px -2px 2px $veryLightShadow;
}
